################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
CMCS/.vs/CMCS/FileContentIndex/1c0b8900-585b-4dd1-b305-69a5e130d8b6.vsidx
CMCS/.vs/CMCS/FileContentIndex/4d785961-dcfa-4700-8769-450c0fc2df0e.vsidx
CMCS/.vs/CMCS/FileContentIndex/4ec14693-9d34-47b6-bf33-67cf5297d12c.vsidx
