################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
CMCS/.vs/CMCS/FileContentIndex/1c0b8900-585b-4dd1-b305-69a5e130d8b6.vsidx
CMCS/.vs/CMCS/FileContentIndex/4d785961-dcfa-4700-8769-450c0fc2df0e.vsidx
CMCS/.vs/CMCS/FileContentIndex/4ec14693-9d34-47b6-bf33-67cf5297d12c.vsidx
CMCS/.vs/CMCS/FileContentIndex/10c3f874-dcc7-483f-9bd2-6bc52a471932.vsidx
CMCS/.vs/CMCS/FileContentIndex/15cddf18-3f04-4b69-bcd8-0b9d835e61d1.vsidx
CMCS/.vs/CMCS/FileContentIndex/2a441508-0d48-4620-98c2-b54d5fa7ea37.vsidx
CMCS/.vs/CMCS/FileContentIndex/4b63dead-7c12-41a6-9956-ddf7cdd90f90.vsidx
CMCS/.vs/CMCS/FileContentIndex/9dac76bc-f9b1-404c-91f0-23da9fe99ba8.vsidx
CMCS/.vs/CMCS/FileContentIndex/5bb17906-f7b2-47ea-b383-99d17e4ec394.vsidx
CMCS/.vs/CMCS/FileContentIndex/5bb17906-f7b2-47ea-b383-99d17e4ec394.vsidx
CMCS/.vs/CMCS/FileContentIndex/e254fcd4-f164-4c8a-8af3-f0dc37271263.vsidx
CMCS/.vs/CMCS/v17/.suo
CMCS/.vs/CMCS/v17/DocumentLayout.backup.json
CMCS/.vs/CMCS/v17/DocumentLayout.json
CMCS/.vs/CMCS/FileContentIndex/5bb17906-f7b2-47ea-b383-99d17e4ec394.vsidx
/CMCS/.vs/CMCS/FileContentIndex
